:root {
  --primary: blue;
  --secondary: orange;
  --thirdary: gray;
  --fordary: rgba(5, 5, 77, 0.906);
  --heightNav: 54px;
}

.container {
  max-width: 980px;
}

.width-100 {
  width: 100%;
}

/* =========== Background color =========== */
.bg-orange {
  background: var(--secondary);
}

.hover\:btn:hover {
  color: #000;
  background-color: #ccc;
}

.hover\:bg-orange:hover {
  background: var(--secondary);
}

.hover\:text-underline:hover {
  text-decoration: underline;
}

.hover\:button:hover {
  background-color: #ccc;
  color: #000;
}

.bg-smoke {
  background-color: #f1f1f1;
}

.text-7575 {
  color: #757575;
}
.text-smoke{
  color:#ccc;
}

.bg-blue {
  background: var(--primary);
}

.bg-fordary {
  background: var(--fordary);
}

.border-color {
  border: 1px solid #fff;
}

.no-border {
  border: none;
}

.border-b {
  border-bottom: 1px solid #ccc;
}

.un-border {
  border: none;
}

.text-h2 {
  color: var(--fordary);
}

.hover\:bg-blue:hover {
  background: var(--primary);
}

.bg-white {
  background-color: #fff;
}

/* ===========  Text color ===========  */
.text-orange {
  color: var(--secondary);
}

.text-uppercase {
  text-transform: uppercase;
}

.hover\:text-orange:hover {
  color: var(--secondary);
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

/* ===========  Alignment ===========  */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* ===========  Margin ===========  */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 12px;
}

.ml-4 {
  margin-left: 16px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

.mr-4 {
  margin-right: 16px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mt-5-5 {
  margin-top: 25px;
}

.mt-6 {
  margin-top: 32px;
}

.mt-8 {}

.mt-14 {
  margin-top: 54px;
}

.mb-1 {
  margin: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-6 {
  margin-bottom: 32px;
}

.my-2 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-6 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-8 {
  margin-top: 64px;
  margin-bottom: 64px;
}

/* ===========  Padding ===========  */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.p-6 {
  padding: 32px;
}


.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-6 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-8 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-6 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-15 {
  padding-right: 64px;
  padding-left: 64px;
}

.pt-50 {
  padding-top: 50%;
}

/* ===========  Width ===========  */
.max-w-full {
  max-width: 100%;
}

/* ===========  Display ===========  */
.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gap-8 {
  grid-gap: 32px;
}

.justify-between {
  justify-content: space-between;
}

.text-justify {
  text-align: justify;
}

.items-center {
  align-items: center;
}

.list-unstyled {
  list-style: none;
}

.no-underline {
  text-decoration: none;
}

/* ===========  BORDER ===========  */
.border {
  border: 1px solid #ccc;
}

.border-black {
  border: 1px solid black
}

.hover\:border-red:hover {
  border-color: red;
}
.hover\:text-green:hover{
  color:#4CAF50;
}

.logo-width {
  width: 250px;
}

.line-height {
  line-height: 38px;
}
.line-height-8{
  line-height: 92px;
}

.text-line {
  line-height: 1.5;
}

/* =====Wdth & height===== */
.height {
  height: var(--heightNav);
}

.width-content {
  width: 840px;
}

.width-img {
  width: 370px;
}


/* ====Position==== */
.po-fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.po-relatvie {
  position: relative;
}

.po-children {
  position: absolute;
  bottom: 0;
  left: 0;



}

/* font size */
.f-15 {
  font-size: 15px;
}

.f-8 {
  font-size: 32px;
}

.f-7 {
  font-size: 36px;
}

.f-20 {
  font-size: 20px;
}

.font-400 {
  font-weight: 400;
}

.f-5 {
  font-size: 18px;
}

.op-80 {
  opacity: 0.6;
}

/* box-shadow */
.box-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* letter spacing */
.letter-spacing {
  letter-spacing: 4px;

}

.letter-spacing-5 {
  letter-spacing: 5px;
}

.letter-spacing-1 {
  letter-spacing: 1.5;
}

/* background images */
.banner-img {
  background: url('asset/banner/hamburger.jpg') top center/ cover no-repeat;
}

.z-index-1 {
  z-index: 1;
}

.word-spacing {
  word-spacing: 1.5;
}